.login_container {
    min-width: 100dvw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.login_container .welcome_image {
    position: absolute;
    z-index: -0;
    background-size: cover;
    background-image: url('/images/light-ocean.webp');
    width: 100dvw;
    height: 40dvh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.363) 70%, black 100%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.363) 70%, black 100%); 
}

:global([data-mantine-color-scheme="dark"]) .login_container .welcome_image {
    background-image: url('/images/sunset.webp');
}