

.card_column{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.calendar_card{
    justify-content: center;
    align-items: center;
}

.card_body{
    justify-content: center;
    align-items: center;
}

.card_firt{
    width:calc(100% - 42px)
}

