.filter_section{
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    @media (min-width: 984px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.table_all{
    border-radius: var(--mantine-radius-md);
    overflow: hidden;
}
.table_all thead th{
    background-color: var(--mantine-color-primary-pitz-light-color);
    text-align: center;
    color: var(--mantine-color-dark-8);
    backdrop-filter: blur(10px)
}

.table_body{
    text-align: center;
}